
body {
  background-image: url("https://media.giphy.com/media/Lr9bbaVAyt3RC/giphy.gif");
  background-size: cover;
}

#my-canvas{
  z-index: 2;

}

.instructions{
  width: 400px;
}

.instruction-jo{
  float: left;
  position: relative;
  background-color: black;
  bottom:60px;
  color: white;
  left: 50px;

}

.instruction-lebron{
  float: right;
  position: relative;
  left: 950px;
  bottom: 115px;
  background-color: black;
  color: white;


}
